@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: var(--font-main);
}

input::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 13px;
  opacity: 0;
  width: 20px;
  height: 20px;
  z-index: 0;
}

@media screen and (max-width:1200px) {

  input::placeholder,
  select:optional {
    font-size: 12px;
  }
}
